<% provide(:title, 'Edit blog') %>
<h1>Edit blog</h1>
<p>When adding a new blogpost or editing an existing one, here's what you have to do:</p>
<p>Just paste or write your text. Don't worry about HTML, except when adding an image or a video. In that case, wrap it in a div with a class of "blog_embed", and specify your desired width and height. For example:</p>
<p>&lt;div class="blog_embed"&gt;</br>
  &lt;img width="250" height="300" src="blah.jpg" alt="Blah" /&gt;</br>
  &lt;/div&gt;</p>
<p><%= link_to 'Create a new Blogpost', new_blogpost_path %></p>

<table style="margin-top: 15px;">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogposts.each do |blogpost| %>
  <tr>
    <td><%= link_to blogpost.title, blogpost %></td>
    <td><%= dat_markdown sentence_truncate(blogpost.content, :sentences => 1) %></td>
    <td><%= blogpost.created_at.strftime("%d %b. %Y %H:%M") %></td>
    <td><%= link_to 'Edit', edit_blogpost_path(blogpost) %></td>
    <td><%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

