<!-- <div class="background_wrapper">
    <a href="#"><%= image_tag "AB_SPACE_Utopia2_banner_2000x511_FieryPlanet.jpg", class: "background", alt: "BigBanner" %></a>
</div> -->

<%= render 'layouts/header' %>

<div id= "wrapper">
	<div id= "body_container">
		<div style="margin-top:-240px;">
	  		<img src="/assets/Rovio_subpagebanner_6.jpg" alt:"Welcome to Bearshotgun!" style="border-top-left-radius: 15px; border-top-right-radius: 15px; width: 980px; height: 240px;" />
	  	</div>

		<div id= "play_zolf_box">
	  		<%= image_tag "welcome.png", id:"play_zolf", alt:"Welcome to Bearshotgun!" %>
        </div> 

	  <div id= "body_box">

	  	<div id= "column1">
	    	<div id="headline"><h2>News</h2></div>
	    	<div id="newsbox"><a href="#"><div id="newsheadline"><span style="font-size: 12pt;">The Big Lebowski</span></div></a>"Dude" Lebowski, 
			mistaken for a millionaire Lebowski, seeks restitution for his ruined rug 
			and enlists his bowling buddies to help get it. <a href="#">Read more...</a>
	    	</div>
 	  	</div>

	  	<div id="column2">
	    	<div id="headline"><h2>Store</h2></div>

	    	<a href="#" onmouseover="document.Zolf.src = '/assets/logo3.jpg';" onmouseout="document.Zolf.src = '/assets/logo2.jpg';"><img name="Zolf" class="buypic" src="/assets/logo2.jpg" alt="Buy Zolf" style="border-radius: 25px;"></a>
	    	<img class="buypic" src="/assets/Misfortuneicon.png" alt="Buy Zolf">
			<div class = "button" onclick="PreviousSlide()" style="position: absolute; margin: 110px 0px 0px 5px;"><</div>
			<div class = "button" onclick="NextSlide()" style="position: absolute; margin: 110px 0px 0px 259px;">></div>

	  	</div>
	  </div>
	
	  <div id="body_l"></div>
	  <div id="body_r"></div>


	  <div id="body_box2">

	  	<div id="phonebox">

	    <div id="headlinetrailer"><h2>Video</h2></div>
        <div id="phone">
	      <div id="trailer">
             <iframe width="500" height="300" src="http://www.youtube.com/embed/8BdT5mFAk-Y" frameborder="0" allowfullscreen></iframe>
             <div id="phonebutton"><div id="phonebutton_thingy"></div></div>
          </div>   
        </div>

	  	</div>

	  </div>

	  <div id="body_bottom_l"></div>
	  <div id="body_bottom_r"></div>

	  <%= render 'layouts/bottombox' %>


<!--        <div id="twitter_container_triangle">
        </div>
        <div>
          <img id="twitter_bird" src="Images/twitter-bird-white-on-blue.png" alt="Twitter" />
        </div>
        <div id="twitter_container">
          <div id="twitter_update_list">
	    <script type="text/javascript" src="Javascript/twitter_timestamp.js">
	    </script>
            <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/larryshomework.json?callback=twitterCallback2&count=1">  
            </script>
          </div> 
        </div> -->  
    </div> 
  </div> 
</div> 
	  <%= render 'layouts/footer' %>

