
	  	  <div id="social_headertop">
<!--	    	<div id="welcome_social_header">
	      		<p><em>This is <strong>Bearshotgun</strong>! We are the creators of <strong>A Game of Zolf</strong>!</em></p>
	    		</div> -->
	      <div id="follow_social_header"><p><em>Follow us on social media:</em></p></div>
	  	  </div>
	  	  <div id="social_header_round"></div>
	  	  <div id="social_header_round2"></div>		
	      <div id="social_headerbottom"></div>  
	  	  <div id="social_header">


            <a href="#"><%= image_tag("facebook.jpg", 
            	id:"fb", alt:"Facebook", :mouseover => "facebookhover.jpg") %></a>
            <a href="#"><%= image_tag("twitter.jpg", 
            	id:"twitter", alt:"Twitter", :mouseover => "twitterhover.jpg") %></a>
            <a href="#"><%= image_tag("youtube.jpg", 
            	id:"yt", alt:"Youtube", :mouseover => "youtubehover.jpg") %></a>
	    	<a href="#"><%= image_tag("rss.jpg", 
            	id:"rss", alt:"RSS", :mouseover => "rsshover.jpg") %></a>
	    	<a href="#"><%= image_tag("mail.jpg", 
            	id:"mail", alt:"Email", :mouseover => "mailhover.jpg") %></a>
 
	    	<form method="get" action="http://www.google.com/search">
	      		<div id="searchbox">
					<table>
		    		<tr>
		      		<input id="searchbar" type="text" name="sitesearch" size="21" maxlength="255" value="" />
		      		<input id="searchclick" type="submit" value="Search bearshotgun.com" />
<!--		      	<input id="searchicon" type="image" src="Images/search.png" alt="Search" /> -->
		    		</tr>
					</table>
	      		</div>
	    	</form>
                                    
          </div>

        </div>
    </div> 
</div>  