<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%=yield(:title) %> | Bearshotgun Games Ltd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script language="JavaScript" type="text/javascript">
    pic1= new Image(); 
    pic1.src="/assets/bear-archery-products-logo.gif";
    pic2= new Image(); 
    pic2.src="/assets/logo3.jpg";
    pic3= new Image(); 
    pic3.src="/assets/Misfortuneicon.png";
    pic4= new Image(); 
    pic4.src="/assets/logo2.jpg";  
   </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "container">
		<%= yield %>
	</div>
<%= javascript_include_tag "application" %>
</body>
</html>